.all-browsers {
margin: 0;
padding: 50px;
border-radius:25px ;
background-color: rgb(34, 34, 41);
}

body {
background-color:rgb(24, 24, 29);
}

* {color: rgb(170, 180, 227); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
